:root{

    --poistion: 200px;

    --text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}


#space {
    position:absolute;
    top: 0px;
    left: 0px;
    border: blue solid 1px;
    opacity: 0.5;
}

#battle {
    background-color: black;
    border :rgb(5, 5, 5) solid 1px;
    position: absolute;
    top: 0px;
    left: 0px;
}


#score {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    left: 0;
    color: #fff;
    font-family:cursive;
    margin-top: 20px;
    margin-left: 20px;
    text-shadow: var(--text-shadow);
}

#health {
    position: absolute;
    top: 96%;
    left: 28%;
}